.cimg{
    padding: 30px;
}
.vis{
    width: 250px;
}
.thead{
    text-align: center;
}
.qtext{
    margin-left: 200px;
    margin-right:200px ;
    margin-top: 50px;;
    margin-bottom: 100px;
}
.text{
    text-align: left;
    word-spacing: 10px;
}